
body {
background-image:url("./images/wsop-main-event.jpg");
backdrop-filter: blur(8px);
background-size: 100%; 
width: 100%;
height: 100%;
position: absolute; 
background-repeat: repeat-x;
padding: 0;
margin: 0;
font-family: 'Mukta', sans-serif;
}


.header {
  text-align: center;
  color: white;
  font-style: italic;
  background-color: rgba(0, 255, 221, 0.5);
}

h1.header {
  font-size: 10rem;
  font-weight: 800;
  margin: 0;
  line-height: 10rem;
}

h3.header {
  font-size: 3rem;
  margin: 0;
  padding-bottom: 1rem;
  font-weight: 400;
}

.nav {
  display: flex;
  justify-content: space-around;
  text-align: center;
  position: relative;
  font-size: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: rgba(0,0,0,0.8);
}


a.nav {
  text-decoration: none;
  font-style: italic;
  color: white;
  background-color: transparent;
}

a.nav:hover {
  scale: 110%;
  transition: 0.1s;
  color: aquamarine;
  cursor: pointer;
background-color: transparent;}

.container-1 {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 13rem;
}

#container-imgs {
  width: 30rem;
  height:25rem;
  display: flex;
  flex-wrap: wrap;
  scale: 150%;
  border-radius: 2px;
  background-color: rgba(0,0,0,0.6)
}

button {
  height: 10rem;
  width: 20rem;
  background-color: rgba(0,0,0,0.8);
  border-style: none;
  border-radius: 2px;
  color: white;
  font-size: 3rem;
  font-weight: 700;
  font-style: italic;
}

button:hover {
  transition: 0.5s;
  color: black;
  font-weight: 700;
  font-size: 3rem;
  scale: 110%;
  font-style: italic;
  background-color: rgba(0, 255, 221, 0.8);
}

.btn-1 {
  translate: 50px -175px;
}

.btn-2 {
  translate: 50px -175px;
}

.btn-3 {
  translate: 50px -175px;
}

footer {
  background-color: rgba(0, 255, 221, 0.5);
  color: white;
  font-size: 2rem;
  text-align: center;
  padding: 1rem;
  position: relative;
  translate: 0 30px;
}