body {
    font-family: 'Mukta', sans-serif;
    margin: auto;
    
    
  }
  
  
  .header {
    color: black;
    text-align: center;
    padding: 0.1rem;
    
  
  }
  
  .h1_header {
    font-size: 3rem;
    font-weight: 800;
    font-style: italic;
  
  
    
  }
  
  .h3_header {
  
  }
  